:root {
    --shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 100px 100px 80px rgba(0, 0, 0, 0.07)
}


body {
    background: #000;
    color: #fff;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

body[data-result="0"] {
    background: orange;
}


body[data-result="1"] {
    background: red;
}

body[data-result="2"] {
    background: green;
}

p {
    margin: 1.5em 0;
}


.frame {
    min-height: 100vh;
    position: relative;
}

.video-outer-frame {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.video-frame {
    width: 100vw;
    max-width: 640px;
    /* TODO: ä»® */
    position: relative;
}

.video {
    display: block;
    width: 100%;
}

.canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.controller-frame {
    width: 100%;
    min-height: 100%;
    padding: 2em;
    text-align: center;
    text-shadow: 0 0 3px #000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.result {
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

[data-result="0"] .result {
    color: orange;
}

[data-result="1"] .result {
    color: red;
}

[data-result="2"] .result {
    color: green;
}


.roulette__label {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.roulette__body {
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
    background: #fff;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: var(--shadow);
}


.roulette__inner {
    position: relative;
    top: 120px;
}

.hand {
    width: 120px;
    height: 120px;
}

.hand.rock {
    background: url("img/hand/0.png");
}

.hand.paper {
    background: url("img/hand/1.png");
}

.hand.scissors {
    background: url("img/hand/2.png");
}

.hand.anime {
    background: url("img/hand/anime.gif");
}



dialog {
    margin: auto;
    padding: 2.5em;
    border: 0;
    border-radius: .75em;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

select {
    -moz-appearance: menulist-button;
    -webkit-appearance: menulist-button;
    appearance: menulist-button;
    min-width: 20em;
    padding: .5em;
    border: 1px solid #aaa;
}

input[type="checkbox"] {
    margin: 0 .5em 0 0;
}


button {
    display: block;
    width: 100%;
    background: #7e00ff;
    color: #fff !important;
    padding: .75em 2em;
    border-radius: 4em;
}